<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="static/html-base-template :: html-base-template-head(#{common.error.error.title}, null, null)">
</head>
<body
	th:replace="static/html-base-template :: html-base-template-body(#{common.error.error.title},~{::#main},~{::#footer},~{::#popup})">
	<div class="contents" id="main">
		<p th:text="#{common.error.error.message}"></p>
	</div>
	<!-- ボタン配置エリア -->
	<div id="footer" class="footer">
	</div>
	<div id="popup"></div>
</body>
</html>