<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:object="${salesTransactionCorrectionForm}">
	<div
		th:replace="sales-transaction-correction-header-itemdetails-tableBody :: tableBody(*{salesTransactionHistoryDetail})"></div>
	<div
		th:replace="sales-transaction-correction-header-tax-tableBody :: tableBody(*{salesTransactionHistoryDetail})"></div>
	<div
		th:replace="sales-transaction-correction-header-payment-tableBody :: tableBody(*{salesTransactionHistoryDetail})"></div>
	<div
		th:replace="sales-transaction-correction-header-total-tableBody :: tableBody(*{salesTransactionHistoryDetail})"></div>
</div>
</html>