<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"
	th:src="@{static/js/store-setting-detail-add-popup.js}"></script>
<div class=" width100per modal-trigger"
	th:object="${storeSettingDetailAddForm}">
	<input type="hidden" th:field="*{temporaryData}">
	<div>
		<table class="common-table width100per mb50">
			<colgroup>
				<col class="width10em">
				<col class="width10em">
			</colgroup>
			<thead>
				<tr class="v-align-middle">
					<th class="text-center"
						th:utext="#{store-setting-detail.orderStatus}"></th>
					<th class="text-center"
						th:utext="#{store-setting-detail.orderSubStatus}"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="v-align-middle">
					<td class="text-left">
						<div class="width230 mrMedium">
							<div id="orderCacelSelect" class="selectbox">
								<div class="selectbox-text">
									<input type="text" th:field="*{codeL3}">
								</div>
								<div class="select-elem">
									<ul class="category">
										<li data-value="-1" data-name=""
											th:utext="#{sales-transaction-history-list.select.clear}"></li>
										<li th:each="orderStatusList : ${orderStatusList}"
											th:data-value="${orderStatusList}"
											th:text="${orderStatusList}"
											th:data-name="${orderStatusList}"></li>
									</ul>
								</div>
							</div>
						</div>
					</td>
					<td class="text-center">
						<input type="text" th:field="*{codeValue}">
						<input type="hidden" name="codeL2" th:value="${codeL2}">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<div class="right-options input-wrap">
			<div class="right-options">
				<ul>
					<li><a href="#" id="closeButton"
						class="button cancel modal-close"
						th:text="#{store-setting-detail.cancelButton}"></a></li>
				</ul>
			</div>
			<div class="right-options">
				<ul>
					<li><a href="#" id="confirmButton" class="button action"
						th:text="#{store-setting-detail.comfirmButton}"
						onclick="PopUpUtil.util.doTransition(this.id,
						'/brand-country-setting-edit/back')"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</html>