<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="static/html-base-template :: html-base-template-head(#{brand-country-setting-edit.title},~{::link}, ~{::script})">
<link th:href="@{static/css/brand-country-setting-edit.css}"
	rel="stylesheet" />
<script type="text/javascript"
	th:src="@{static/js/store-setting-detail.js}"></script>
</head>
<body
	th:replace="static/html-base-template :: html-base-template-body(#{brand-country-setting-edit.title},~{::#main},~{::#footer},~{::#popup})">
	<div class="contents" id="main" th:object="${storeSettingDetailForm}">
		<input type="hidden" id="detailErrorMsg"
			th:value="*{detailError != null ? detailError.toJsonString() : null}" />
		<input type="hidden" th:field="*{storeBrandCode}"> <input
			type="hidden" th:field="*{storeCountryCode}"> <input
			type="hidden" th:field="*{storeCode}"> <input type="hidden"
			th:field="*{businessCode}"> <input type="hidden"
			th:field="*{stateCode}"><input type="hidden"
			th:field="*{count}"><input type="hidden"
			th:field="*{brandName}"><input type="hidden"
			th:field="*{countryName}"><input type="hidden"
			th:field="*{viewStoreCode}"><input type="hidden"
			th:field="*{storeName}"><input type="hidden"
			th:field="*{codeL1}"><input type="hidden"
			th:field="*{pageData}"><input type="hidden"
			th:field="*{count}"><input type="hidden" id="dialogTitle"
			th:value="#{store-setting-detail.settingItemlabel}">
		<div id="breadcrumbs">
			<div>
				<p>
					<a href="#" class="icon icon-home">Home</a>
				</p>
				<p class="separator">＞</p>
				<p>
					<a href="#" th:onclick="'PopUpUtil.util.doTransition(this.id, \'/brand-country-setting-edit/backListSearch\');'"
					 	th:text="#{brand-country-setting-edit.breadcrumbs}"></a>
				</p>
				<p class="separator">＞</p>
				<p>
					<a href="#" th:onclick="'PopUpUtil.util.doTransition(this.id, \'/brand-country-setting-edit/backList\');'"
					 	th:text="#{store-setting-list.breadcrumbs}"></a>
				</p>
				<p class="separator">＞</p>
				<p th:text="#{store-setting-detail.breadcrumbs}"></p>
			</div>
		</div>
		<div class="option-block">
			<div class="mb50"></div>
			<div class="input-wrap space-between fz13 mb50">
				<div class="input-wrap mb0">
					<div class="width120 text-center">
						<label th:utext="#{brand-country-setting-edit.brandLabel}"></label>
					</div>
					<div class="width120 text-center">
						<label th:text="*{brandName}"></label>
					</div>
					<div class="width120 text-center">
						<label th:utext="#{brand-country-setting-edit.countryLabel}"></label>
					</div>
					<div class="width120 text-center">
						<label th:text="*{countryName}"></label>
					</div>
					<div class="width120 text-center">
						<label th:utext="#{brand-country-setting-edit.storeLabel}"></label>
					</div>
					<div class="width120 text-center">
						<label th:text="*{viewStoreCode}"></label>
					</div>
					<div class="width120">
						<label th:text="*{storeName}"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="width50per input-left">
			<div class="input-wrap space-between">
				<label class="text-left"
					th:text="#{store-setting-detail.salesIntegrityCheckLabel}"></label>
				<label class="text-right"> <a href="javascript:void(0)"
					class="button skeleton primary small" id="addButton"
					th:text="#{store-setting-detail.addButton}" onclick="addDialog()"></a>
				</label>
			</div>
			<div class="th-fixed">
				<div class="th-fixed-head">
					<table class="common-table width100per">
						<colgroup>
							<col class="width10em">
							<col class="width10em">
						</colgroup>
						<thead>
							<tr class="v-align-middle">
								<th class="text-center"
									th:utext="#{store-setting-detail.payOffCodeLabel}"></th>
								<th class="text-center"
									th:utext="#{store-setting-detail.positiveNegativeLabel}"></th>
						</thead>
						<tbody id="dataTable">
							<tr class="v-align-middle"
								th:each="info,stat:*{brandCountrySettingEditList}"
								th:data-showaddcolor="${(info.addColor == 1 ? '1' : '0')}">
								<td class="text-center"><input type="hidden"
									th:field="*{brandCountrySettingEditList[__${stat.index}__].codeL1}">
									<input type="hidden"
									th:field="*{brandCountrySettingEditList[__${stat.index}__].codeL2}">
									<input type="hidden"
									th:field="*{brandCountrySettingEditList[__${stat.index}__].variableType}">
									<input type="hidden"
									th:field="*{brandCountrySettingEditList[__${stat.index}__].updateDatetime}">
									<div class="width160 mrMedium">
										<div class="selectbox">
											<div class="selectbox-text">
												<input type="text"
													th:field="*{brandCountrySettingEditList[__${stat.index}__].codeL3}">
											</div>
											<div class="select-elem" th:if="${info.variableType}==0">
												<ul class="category">
													<li data-value="-1" data-name=""
														th:utext="#{sales-transaction-history-list.select.clear}"></li>
													<li th:each="payOffList : ${payOffList}"
														th:data-value="${payOffList}" th:text="${payOffList}"
														th:data-name="${payOffList}"></li>
												</ul>
											</div>
										</div>
									</div></td>
								<td class="text-center">
									<div class="width160 mrMedium">
										<div class="selectbox">
											<div class="selectbox-text">
												<input type="text"
													th:field="*{brandCountrySettingEditList[__${stat.index}__].codeValue}">
											</div>
											<div class="select-elem" th:if="${info.variableType}==0">
												<ul class="category">
													<li data-value="-1" data-name=""
														th:utext="#{sales-transaction-history-list.select.clear}"></li>
													<li th:each="quantityList : ${quantityList}"
														th:data-value="${quantityList}" th:text="${quantityList}"
														th:data-name="${quantityList}"></li>
												</ul>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" class="footer">
		<div class="right-options">
			<ul>
				<li><a href="#" id="close" class="button submit"
					onclick="doRegister()"
					th:text="#{store-setting-detail.registerButton}"></a></li>
			</ul>
		</div>
	</div>
	<div id="popup" th:replace="static/html-popup-template.html::popup"></div>
</body>
</html>