<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.fastretailing.dcp.sales.common.repository.optional.SalesTransactionErrorDetailOptionalMapper">
	<select id="selectSalesTransactionErrorDetailByCondition"
		parameterType="com.fastretailing.dcp.sales.common.entity.optional.SalesTransactionErrorDetailCondition"
		resultType="com.fastretailing.dcp.sales.common.entity.optional.SalesTransactionErrorDetail">
		SELECT <!-- SalesTransactionErrorDetailOptionalMapper-01 -->
		detail.sales_transaction_error_id,
		detail.system_brand_code,
		detail.system_country_code,
		store.store_code,
		store.view_store_code,
		store.store_name,
		header.cash_register_no,
		header.receipt_no,
		header.sales_transaction_type,
		header.data_creation_date_time,
		header.order_status_update_date,
		detail.error_type,
		detail.data_alteration_status_type as status
		FROM
		t_sales_error_sales_transaction_header header
		LEFT OUTER JOIN
		t_sales_transaction_error_detail detail
		ON
		header.transaction_id =
		detail.sales_transaction_error_id
		LEFT OUTER JOIN
		m_trans_store_code
		store
		ON
		store.store_code = header.store_code
		WHERE
		detail.system_brand_code = #{systemBrandCode}
		AND
		detail.system_country_code = #{systemCountryCode}
		<if test="cashRegisterNo != null and cashRegisterNo != ''">
			and header.cash_register_no = #{cashRegisterNo}
		</if>
		<if test="receiptNo != null and receiptNo != ''">
			and header.receipt_no = #{receiptNo}
		</if>
		<if test="salesTransactionType != null and salesTransactionType != ''">
			and header.sales_transaction_type =
			#{salesTransactionType}
		</if>
		<if test=" dataCreationDateTimeFrom != null ">
    		<![CDATA[
   			  and header.data_creation_date_time >= #{dataCreationDateTimeFrom}
			]]>
		</if>
		<if test="dataCreationDateTimeTo != null ">
   			<![CDATA[
              and header.data_creation_date_time <= #{dataCreationDateTimeTo}
			]]>
		</if>
		<if test="businessDateFrom != null and businessDateFrom != ''">
   			<![CDATA[
			  and header.order_status_update_date >= #{businessDateFrom}
			]]>
		</if>
		<if test="businessDateTo != null and businessDateTo != ''">
	   		<![CDATA[
		      and header.order_status_update_date <= #{businessDateTo}
			]]>
		</if>
		<if test="errorType != null and errorType != ''">
	   		<![CDATA[
		      and detail.error_type = #{errorType}
			]]>
		</if>
		and store.view_store_code = #{viewStoreCode}
		and
		header.sales_linkage_type = 0
		and detail.data_alteration_status_type !=
		'1'

	</select>

	<update id="updateDataAlterationStatusType">
		UPDATE <!-- SalesTransactionErrorDetailOptionalMapper-02 -->
		t_sales_transaction_error_detail
		SET data_alteration_status_type =
		#{dataAlterationStatusType}
		WHERE sales_transaction_error_id =
		#{salesTransactionErrorId}
	</update>

	<select id="selectTimeZoneByStoreCode" resultType="java.lang.String">
		SELECT <!-- SalesTransactionErrorDetailOptionalMapper-03 -->
		code 
		FROM m_store_general_purpose
		WHERE general_purpose_type = 'time_zone' 
		AND store_code = #{storeCode}
	</select>
	
	 <update id="updateByPrimaryKeySelective" parameterType="com.fastretailing.dcp.sales.common.entity.optional.SalesTransactionErrorDetail">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update t_sales_transaction_error_detail
    <set>
      <if test="dataAlterationStatusType != null">
        data_alteration_status_type = #{dataAlterationStatusType,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null">
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateProgramId != null">
        update_program_id = #{updateProgramId,jdbcType=VARCHAR},
      </if>
    </set>
    where sales_transaction_error_id = #{salesTransactionErrorId,jdbcType=VARCHAR}
  </update>

</mapper> 