<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.fastretailing.dcp.sales.common.repository.optional.StoreControlMasterOptionalMapper">
	<select id="selectByPrimaryKey"
		resultType="com.fastretailing.dcp.sales.common.entity.optional.StoreControlMasterOptional">
		SELECT /* StoreControlMasterOptionalMapper-001 */
		business_date,
		business_end_of_date
		FROM
		m_store_control
		WHERE
		store_code = #{storeCode}
	</select>

	<update id="updateByPrimaryKeySelective">
		UPDATE /* StoreControlMasterOptionalMapper-002 */
		m_store_control
		SET
		business_date = #{businessDate},
		update_user_id = #{updateUserId},
		update_datetime = #{updateDatetime},
		update_program_id = #{updateProgramId}
		WHERE
		store_code = #{storeCode}
	</update>

</mapper>
